<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light fs-6" style="font-family: 'Reddit Mono';">
        <div class="container-fluid">
            <a class="navbar-brand" routerLink="#">TODO-APP</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 fs-6 fw-normal">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" routerLink="/welcome">Home</a>
                    </li>
                    <li class="nav-item">
                        <a *ngIf="authenticationService.isUserLoggedIn()" class="nav-link" routerLink="/todos">Todo</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="#">About</a>
                    </li>

                </ul>
                <ul class="navbar-nav ml-auto mb-2 mb-lg-0 fs-6 fw-normal">

                    <li class="nav-item">
                        <a *ngIf="!authenticationService.isUserLoggedIn()" class="nav-link"
                            routerLink="/login">Login</a>
                    </li>
                    <li class="nav-item">
                        <a *ngIf="authenticationService.isUserLoggedIn()" class="nav-link"
                            routerLink="/logout">Logout</a>
                    </li>


                </ul>

            </div>
        </div>
    </nav>
</header>